body {
    background-color: rgb(214, 226, 43);
  }
  
  h1 {
    color: black;

    text-align: center;
  }
  
  p {
    font-family: verdana;
    text-align: center;
    font-size: 20px;
  }